input {

}

body {
	display: block;
	background-color: #fff;
	width: 800px;
	height: 900px;
}


}

.logo {
	position: center;
}

.topnav {
	align-content: left;

}

.navbot {
	background-color: red;
	height: 500px;
}

.bot {
	position: relative;
	background-color: #F2F2F2;
	bottom: 110px;

}
